@charset "utf-8";
.right{
    float: right;
}
.left{
    float: left;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px;
    background-color: #eaeaea;
    font-size: 16px;
    text-align: center;
    color: #000;
}
.wrapper {
    position: relative;
    min-height: 100%;
}
html, body {
    height: 100%;
}
.style {
    padding: 10px 100px;
}
.styletext {
    padding: 10px 0;
    text-align: center;
}

.boxImg {
    width: 100%;
    height: 180px;
    margin: auto;
    display: flex;
}

.boxImg img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.boxheight {
    height: 350px;
}
.mainImg {
    height: 700px;
}